/* start box */
.d-flex {
    display: flex;
}

.flex-w {
    flex-wrap: wrap;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.gap-5 {
    gap: 5px;
}

.flex-1 {
    flex: 1;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.d-block {
    display: block;
}

.bsh-10 {
    box-shadow: 0 0 10px #ddd;
}

.w-20 {
    width: 20%;
}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.h-full {
    height: 100%;
}

/* End Box */
/* padding + margin */
.p-5 {
    padding: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.p-5 {
    padding: 0;
}

.p-20 {
    padding: 20px;
}

.p-3-5 {
    padding: 3px 5px;
}

.p-15 {
    padding: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.p-20 {
    padding: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.p-10 {
    padding: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.m-10 {
    margin: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.m-15 {
    margin: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.m-20 {
    margin: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-0 {
    margin-top: 0;
}

.m-0 {
    margin: 0;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* padding + margin */
/* color  */
.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: #0075ff;
}

.bg-eee {
    background-color: #eee;
}

.c-gray {
    color: gray;
}

.c-white {
    color: white;
}

.c-orange {
    color: #f59e0b;
}

.bg-orange {
    background-color: #f59e0b;
}

.c-green {
    color: #22c55e;
}

.c-red {
    color: #f44336;
}

.c-blue {
    color: #0d69d5;
}

.c-white {
    color: white;
}

.bg-green {
    background-color: #22c55e;
}

.bg-red {
    background-color: #f44336;
}

.bg-gray {
    background-color: rgb(223, 217, 217);
}

.c-red {
    color: #f44336;
}

.w-100 {
    width: 100px;
}

.h-100 {
    height: 100px;
}

/* color  */
.p-relative {
    position: relative;
}

.c-black {
    color: black;
}

/*  font */
.txt-c {
    text-align: center;
}

@media (max-width:767px) {
    .txt-c-mobile {
        align-items: center;
    }
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-25 {
    font-size: 25px;
}

.fs-60 {
    font-size: 60px;
}

.fw-bold {
    font-weight: bold;
}

/*  font */
/* border */
.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-half {
    border-radius: 50%;
}

.b-none {
    border: none;
}

/* border */
/* component */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-shap {
    padding: 10px;
    border-radius: 6px;
}

.bb-eee {
    border-bottom: 1px solid #eee;
}

.border-eee {
    border: 1px solid #eee;
}

.bt-eee {
    border-top: 1px solid #eee;
}

.h3-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.bx {
    padding: 20px;
    border-radius: 10px;
    background-color: white;

}

.bx-p {
    color: gray;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 15px;
}

.b-ccc {
    border: 1px solid #ccc;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* component */
/* media */
@media (max-width:767px) {
    .hide-mobile {
        display: none;
    }

    .block-mobile {
        display: block;
    }

    .txt-center-mobile {
        text-align: center;
    }
}

/* media */